* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}


html {
    background: linear-gradient(260deg, #000c79 0%, #ca1010 100%);
}

body{
    text-align: center;
    padding: 2rem;
    min-height: 100vh; 
}

h2{
    margin-bottom: 1rem;
    color: #fff;
}

#multiplication-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem auto;
    padding: 1rem;
    max-width: 300px;
    background-color: #fff;
    color: #333;
    border-radius: 10px;
}

.form-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    margin: 0 1rem;
}

.form-control label{
    margin-bottom: .6rem;
    font-size: 0.8rem;
    font-weight: bold;
}

.form-control input{
    margin-bottom: 1rem;
    flex: 1;
    padding: .6rem .4rem;
    border: 1px solid #333;
    width: 50px;
    text-align: center;
    border-radius: 10px;
}

#multiplication-form input[type="submit"]{
    max-height: 50px;
    padding: .6rem 1.2rem;
    width: 200px;
    color: #fff;
    background-color: #333;
    border: 1px solid #ccc;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    transition: 0.4s;
}

#multiplication-form input[type="submit"]:hover{
    opacity: 1;
}

#multiplication-operations{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin: 1rem auto;
    padding: 2rem 1rem;
    background-color: #fff;
    color: #333;
    border-radius: 10px;
}

#multiplication-operations .row{
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    border-bottom: none;
    padding: 0.5rem;
    width: 150px;
}

#multiplication-operations .row:last-child{
    border-bottom: 1px solid #ccc;
}

#multiplication-operations .result {
    margin-left: .4rem;
}